<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #000000;
}
</style>
</head>
<body>
</body>
</html>
<a href="http://es.tinypic.com?ref=6yoefm" target="_blank"><img src="http://i66.tinypic.com/6yoefm.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
